<main class="page-content create-profile">
    <section class="main-section">
        <h1>Create Your User Profile</h1>
        <form class="profile-form form" method="post" action="/create-profile">

            <div class="name-input">
                <label for="signup-name">Name (3-40 characters)</label>
                <input id="signup-name" class="text-input" type="text" name="name" value="" placeholder="Enter your name..."
                    autocomplete="off" pattern="[a-zA-Z'\s]{3,40}">

                <label for="bio">Bio</label>
                <input id="bio" class="text-input" type="text" name="bio" value="" placeholder="Enter your bio..."
                    autocomplete="off" pattern="[a-zA-Z',\s]{3,40}">

                <label for="password">Password (must contain 8 or more characters)</label>
                <input id="password" class="text-input" type="password" name="password" value="" 
                placeholder="Enter your password..." pattern="[!(<>)]{8,40}" autocomplete="off" disabled > 

                <label for="confirm-password">Confirm Password</label>
                <input id="confirm-password" class="text-input" type="password" name="confirm-password" value="" 
                placeholder="Confirm your password..." autocomplete="off" disabled >
            </div>

            <div class="language-input">
                <h3>Your Languages</h3>
                <p>Select your level:</p>

                {{#each languages}}
                <div class="form-rows">
                    <label for="{{lang}}" class="label-bg {{lang}}">{{uppercase lang}}</label>
                    <div class="radio-group">
                        {{#levels}}
                        <label class="radio-label">{{addone @key}}
                            <input class="radio-input" type="radio" name="{{../lang}}" value="{{addone @key}}">
                            <span class="checkmark"></span>
                        </label>
                        {{/levels}}
                    </div>
                </div>
                {{/each}}
                <!-- use ../ to access properties of the parent loop -->
                <!-- levels is a property of languages, with a value of an array. Therefore, it can be iterated over with #levels -->

                <input type="submit" class="button-submit"/>
            </div>

        </form>
    </section>
</main>
