<main class="page-content search-profiles">

    <section class="main-section">
        <h1>Search Profiles of your Cohort</h1>

        <form class="form" method="/post" action="">
            <div class="name-search">
                <label for="search" id="name-label">Search by Name</label>
                <input class="text-input" id="name-search" type="text" name="search" value="" autocomplete="off" pattern="[a-zA-Z'\s]{2,40}"/>
                <input type="submit" id='name-search-button' class="button-submit" value="Search by Name" />
            </div>
            <div class="language-search">
                <label for="sort">Sort by Skill Level</label>
                <div class="form-rows">
                    {{#each languages}}
                    <input type="submit" class="button-submit {{lang}}" value="{{uppercase lang}}" />
                    {{/each}}
                </div>
            </div>
        </form>

    </section>

    <section class="main-section">

        <ul class="cohort-list">
            {{#each users}}
            <li class="cohort-member">
                <h3 class="name">{{name}}</h3>
                <article class="bio">{{bio}}</article>
                <article class="skills">
                    <span>Skills:</span>
                    {{#each ../languages}}
                    <div class="{{lang}}">
                        <span>{{uppercase lang}} level:</span>
                        <div class="{{barchart ../this lang}}"></div>
                    </div>
                    {{/each}}
                </article>

            </li>
            {{/each}}
            <!-- 
            - use the lookup helper to search one object while using a value from another, e.g. users[lang]
            https://stackoverflow.com/questions/29829723/example-of-using-handlebars-lookup-helper
            - combined the lookup helper into the barchart function
            -->
        </ul>

    </section>


<script src="js/search.js"></script>
</main>